{% extends "base.html" %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-12">
    <h1 class="h2">{{ category.name|title }}</h1>
  </div>
  <div class="col-12 d-flex justify-content-between">
    <div><b>Popular</b> products purchased</div>
  </div>
  <hr />
</div>
<div class="album py-5 bg-light">
  <div class="container">
    {% if not products %}
    <div class="col-12">Não há atualmente produtos dessa categoria em estoque. Voltar para <a
        href="{% url 'store:products_list' %}">Home</a>.</div>
    {% else %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

      {% for product in products %}

      <div class="col">
        <div class="card border-0">
          <a href="{{ product.get_absolute_url }}">
            {% for image in product.product_image.all %}
            {% if image.is_feature%}
            <img class="img-fluid" style="height: 150px; width: 100%; object-fit: cover;" alt="Responsive image" src="{{ image.image.url }}" alt="{{ image.image.alt_text }}">
            {% endif %}
            {% endfor %}
          </a>
          <div class="card-body px-0">
            <p class="card-text">
              <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
                {{ product.title|slice:":50" }}...
              </a>
            </p>
            <div class="fw-bold">£{{product.regular_price}}</div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}